%%-*- encoding: utf-8 mode: erlang -*-

{deps_dir, ["deps"]}.

{deps,
 [
  {lager, "1.*", {git, "http://github.com/basho/lager.git", {branch, "master"}}}
 ]}.

{erl_opts,
    [
     debug_info
    ,bin_opt_info
    %,warn_missing_spec
    %,warnings_as_errors
    ,warn_export_all
    ,fail_on_warning
    ]}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [debug_info]}.
{cover_enabled, true}.

{clean_files, ["*.eunit", "test/*.beam", "logs/*"]}.
