{lib_dirs, ["deps"]}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [export_all]}.
%% Looks like a bug: for Common Test rebar facility '{cover_enabled=true}'
%% is only effective when specified in application directory-local
%% rebar.config. Even then ct_run is failing with {error,{badarg,116}}
%% in presence of valid '-cover cover.spec' arg.
%% So, cover works for EUnit tests only:
{cover_enabled, true}.

{clean_files, ["*.eunit", "test/*.beam", "logs/*"]}.

{erl_opts,
    [
     debug_info
    ]}.

%{ct_extra_params, "-config ct"}.
